@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
   --background: #ffffff;
   --foreground: #171717;
   --headerText: #0c1421;
   --subText: #313957;
   --brown: #b57704;
   --border: #D9D9D9;
   --inputBackground: #F4F6F3;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}
.open_sans {
   font-family: "Open Sans",sans-serif;
}
.custom-shadow {
   box-shadow:
     0px 1.85px 3.15px 0px #44444406,
     0px 8.15px 6.52px 0px #4444440A,
     0px 20px 13px 0px #4444440D,
     0px 38.52px 25.48px 0px #4444440F,
     0px 64.81px 46.85px 0px #44444413,
     0px 100px 80px 0px #4444441A;

     clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);

 }
.stats-shadow{
   box-shadow: 7.2px 4.8px 12.36px 0px #00000040;

}